.btn {
  width: fit-content;
  background: #151C22;
  margin-top: 4.8125rem;
  padding: 1.6875rem 1.5rem;
  &-text {


    font-style: normal;
    font-weight: bold;
    font-size: $f16;
    line-height: 19px;
    font-style: normal;

    color: #FFFFFF;

  }

  &-promo {
    padding: 1.6875rem 3.75rem;
    margin-top: 2.125rem;
  }

  &-loadMore {
    padding: 1.6875rem 3.75rem;
    margin-bottom: 8.125rem;
  }

  &-apply {
    width: 100%;
    margin-top: 2.5rem;
  }

  &-addToCart {
    margin-top: 3.125rem;
  }

  &-clearAll {
    width: 100%;


    margin-top: 0;
    background: #FFFFFF;

    & p {
      font-style: normal;
      font-size: 0.875rem;
      color: #151C22;
    }
  }
}
