$f16: 1rem !default;
$f18: 1.125rem !default;
$f32: 2rem !default;

h1 {
  margin: 1.4375rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  color: #151C22;
}

.grid {

  &-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    background: #F1F2F4;
    padding-top: 3.3125rem;

    & .arrowDownIcon {
      margin-top: 20rem;
    }
  }

  &-item {
    &:nth-child(2) {
      flex-direction: column;
      display: flex;
      padding-left: 3rem;

      > p {
        width: fit-content;
        margin-top: 10.1875rem;
        font-style: normal;
        font-weight: normal;
        font-size: $f16;
        line-height: 21px;
        color: #727A82;

      }

      & .headerPromotionHeadline {
        width: fit-content;
        font-family: Anton, "Work Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 128px;
        align-items: center;
        text-transform: uppercase;
        color: #151C22;
      }


    }

    &:nth-child(3) {
      > img {

        margin-bottom: 2.9375rem;
        max-width: 100%;
        height: auto;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;

      .headerIcons {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-link {
          width: fit-content;
          padding-bottom: 2.1875rem;
        }
      }
    }
  }


  background: #151C22;
}

.socialNetworks {
  margin-top: 20.4375rem;

  &-item {
    margin-bottom: 2.1875rem;
  }
}

.collection {
  &-item {
    width: fit-content;
    margin-left: 20%;
    padding-bottom: 2.1875rem;
    font-style: normal;
    font-weight: 500;
    font-size: $f16;
    line-height: 19px;


  }
}