@import "Components/Header/styles.module";
@import "Components/Promo/styles";
@import "Components/Category/styles.module";
@import "Components/Button/styles";
@import "Components/Footer/styles";
@import "Components/Item/styles.module";
@import "Components/Filter/styles";
$f16: 1rem !default;
$f18: 1.125rem !default;
$f32: 2rem !default;
.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul {
  list-style: none;
}


@media screen and (max-width: 1100px) {
  html{
    font-size: 14px;
  }
}
@media screen and (max-width: 980px) {
  html{
    font-size: 12px;
  }
  .promo-card{
    margin-top: 5.9375rem;
  }
}

@media screen and (max-width: 780px) {
  html{
    font-size: 10px;
  }
  .promo-image{
    min-width: 20%;
  }
}
@media screen and (max-width: 690px) {
  html{
    font-size: 9px;
  }
  .promo-image{
    min-width: 10%;
  }
}